.ant-table-thead .ant-table-cell{
    height: 1.6rem;
    text-align: center;
    font-size: 25px;
    justify-content: space-around;
}

.scn-table {
    padding: 5% 10% 0 10%;
}

.ant-table {
    border-radius: 10px;
}

.scn-time-detail {
    display: block;
}

.scn-time-detail .scn-begin-time {
    font-size: 50px;
    text-align: center;
}
.scn-time-detail .scn-leave-time {
    font-size: 20px;
    text-align: center;
}

.scn-lang {
    text-align: center;
}
.scn-room {
    text-align: center;
}
.scn-price {
    text-align: center;
}
.scn-booking-btn {
    text-align: center;
}
.scn-list-header {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.cnm-name {
    color: #A84155;
    font-size: 20px;
}
