.ant-table-thead > tr > th {
  color: rgb(15, 15, 15);
  background: #d6d6d4 !important;
}

.ant-table-tbody:hover {
    background: #eef0f1 !important;
}
.even {
  color: rgb(0, 0, 0);

  background: #ffffff !important;
}
.odd {
  color: rgb(0, 0, 0);
  background: #eef0f1 !important;
}
.schedule-main-page {
    padding: 30px;
    width: 1200px;
    margin: 5px auto;
    box-shadow: 0 10px 10px gray;
}
.schedule-table {
  width: 1100px;
  margin: 20px auto;
}
.current-price {
  font-weight: bold;
  margin-right: 5px;
}

.start-time {
  font-size: large;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: large;
}
.search {
  width: 1100px;
  margin: 5px auto 25px auto;
}
.search-row {
  border-radius: 30%;
}
.search-header {
  background-color: rgba(165, 219, 241, 0.842);
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: rgb(8, 84, 114);
}
.search-content {
  background-color: rgba(213, 248, 245, 0.432);
  height: 70px;
  text-align: center;
  color: rgb(8, 84, 114);
  padding-left: 10px;
}
.contents {
    margin: 10px auto;
    word-wrap: break-word;
    text-align: left;
    padding-bottom: 100px;
}
.cinema {
  margin-right: 20px;
}
.more-cinema {
    float: right;
    margin-right: 50px;
    font-style: italic;
}

.date-contents {
    margin: 20px auto;
    word-wrap: break-word;
    text-align: left;
}

.ant-radio-button-wrapper {
    border: none !important;
    background-color: rgba(213, 248, 245, 0.432) !important;
}
