.ant-table-thead > tr > th {
  color: rgb(15, 15, 15);
  background: #d6d6d4 !important;
}

.ant-table-tbody:hover {
  background: #eef0f1 !important;
}
.even {
  color: rgb(0, 0, 0);

  background: #ffffff !important;
}
.odd {
  color: rgb(0, 0, 0);
  background: #eef0f1 !important;
}
.schedule-main-page {
  padding: 30px;
  width: 1200px;
  margin: 0 auto 5px auto;
  box-shadow: 0 10px 10px gray;
}
.schedule-table {
  width: 1100px;
  margin: 10px auto 20px auto;
}
.current-price {
  font-weight: bold;
  margin-right: 5px;
  font-size: large;
}

.start-time {
  font-size: large;
  font-weight: bold;
}

.title {
  font-weight: bold;
  font-size: large;
  float: left;
}
.search {
  width: 1100px;
  margin: 5px auto 10px auto;
}
.search-row {
  border-radius: 30%;
}
.search-header {
  background-color: rgba(165, 219, 241, 0.842);
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: rgb(8, 84, 114);
}
.search-content {
  background-color: rgba(213, 248, 245, 0.432);
  height: 70px;
  text-align: center;
  color: rgb(8, 84, 114);
  padding-left: 10px;
}
.contents {
  margin: 20px auto;
  word-wrap: break-word;
  text-align: left;
}
.cinema {
  margin-right: 20px;
  margin-top: 16px;
}
.more-cinema {
  float: right;
  margin-right: 50px;
  font-style: italic;
}

.arrow {
  margin-left: 5px;
}

.date-contents {
  margin: 10px auto;
  word-wrap: break-word;
  text-align: left;
}

.address {
  text-align: left;
}

.cinema-name {
  color: #cc8c2c;
  font-size: large;
  margin-right: 30px;
}

.cinema-address {
  color: rgb(175, 174, 174);
  font-size: small;
  vertical-align: -2px;
}

.ant-radio-button-wrapper {
  border: none !important;
  background-color: rgba(213, 248, 245, 0.432) !important;
  position: static !important;
}

.ant-radio-group-solid,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #ffffff !important;
  background: rgb(38, 177, 233) !important;
  border-color: #1890ff;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before {
  background-color: #1890ff !important;
}

.ant-radio-group-solid,
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  box-shadow: 0 0 0 0.5px #1890ff !important;
}
